<!DOCTYPE html>
<html>

    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        <link rel="stylesheet" href="{{asset('font/font.css')}}"/>
        <link rel="stylesheet" href="{{asset('css/common.css')}}"/>
        <link rel="stylesheet" href="{{asset('css/base.css')}}"/>
        {% block stylesheets %}
        {% endblock %}

        <script src="https://kit.fontawesome.com/f0917de996.js" crossorigin="anonymous"></script>
        {% block javascripts %}
        {% endblock %}
    </head>
    <body>

        <section class="menu -flex-sa -cl-menu">
            <img class="menulogo" src="{{ 'img/logo-maxinfoweb.png' | imagine_filter('logo')}}" >

            <div class="menuflex">
                <div class="menuwrapper"> 
                    <i class="fa-solid fa-house"></i>
                    <a class="-cl-menu" href="{{ path('home') }}">Accueil</a>
                </div>
            </div>

            <div class="menuflex">
                <div class="clicklistener">
                    <div class="menuwrapper">
                        <i class="fa-solid fa-user-group"></i>
                        <a class="-cl-menu">Présentation</a>
                        <i class="fa-solid fa-angle-down"></i>
                        <div class="submenu">
                            <div class="-cl-darkgrey">
                                <i class="fa-solid fa-home"></i>
                                <a href="{{ path('miw-web') }}">L'agence&nbspweb&nbspMaxinfoweb</a>
                            </div>
                            <div class="-cl-darkgrey">
                                <i class="fa-solid fa-laptop"></i>
                                <a href="{{ path('miw-informatique') }}">L'agence&nbspMIW&nbspInformatique</a>
                            </div>
                            <div class="-cl-darkgrey">
                                <i class="fa-solid fa-phone"></i>
                                <a href="{{ path('miw-telecom') }}">L'agence&nbspMIW&nbspTélécom</a>
                            </div>
                            <div class="-cl-darkgrey">
                                <i class="fa-solid fa-building"></i>
                                <a href="{{ path('miw-magasin') }}">Magasin&nbspd'informatique</a>
                            </div>
                            <div class="-cl-darkgrey">
                                <i class="fa-solid fa-user-group"></i>
                                <a href="{{ path('hiring') }}">Recrutement</a>
                            </div>
                            <div class="-cl-darkgrey">
                                <i class="fa-solid fa-handshake"></i>
                                <a href="{{ path('partners') }}">Nos&nbsppartenaires</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="menuflex">
                <div class="clicklistener">
                    <div class="menuwrapper">
                        <i class="fa-solid fa-folder"></i>
                        <a class="-cl-menu">Nos projets</a>
                        <i class="fa-solid fa-angle-down"></i>
                        <div class="submenu">
                            <div class="-cl-darkgrey">
                                <i class="fa-solid fa-globe"></i>
                                <a href="{{ path('projets',{"type":"web"}) }}">Projets&nbspweb</a>
                            </div>
                            <div class="-cl-darkgrey">
                                <i class="fa-solid fa-brush"></i>
                                <a href="{{ path('projets',{"type":"print"}) }}">Projets&nbspprint</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="menuflex">
                <div class="menuwrapper"> 
                    <i class="fa-solid fa-comments"></i>
                    <a class="-cl-menu" href="{{ path('home') }}">Blog</a>
                </div>
            </div>

            <div class="menuflex">
                <div class="menuwrapper"> 
                    <i class="fa-solid fa-at"></i>
                    <a class="-cl-menu" href="{{ path('home') }}">Contact</a>
                </div>
            </div>

            <div class="menuflex">
                <div class="socials">
                    {% for r in reseaux %}
                    <a href="{{r.lien}}"><img class="social-img" src="{{ vich_uploader_asset(r, 'imageFile') | imagine_filter('social') }}" alt="{{ r.imageName }}"></a>
                    {% endfor %}
                </div>
            </div>
        </section>

        <section class="main">
        {% block body %}{% endblock %}
        </section>

        <section class="veneznousvoir">
            <h1 class="-cl-orange">Un magasin d'informatique dans l'oise,</h1>
            <h1 class="-cl-blue -mrg-btm-3">au service des particuliers à NEUILLY EN THELLE</h1>
            <div class="vnv-wrapper -flex-sb">
                <div class="vnv">
                    <p>Dépannage d’ordinateurs et matériel Informatique dans l’Oise, réparation informatique, vente, 
                    montage et configuration d’ordinateurs&nbsp: Maxinfoweb, à NEUILLY EN THELLE s’occupe de tout pour vous.
                    </p>
                    <p>Nous avons le plaisir de vous recevoir du lundi au vendredi, de 10h à 18h au :</p>
                    <div class="-cl-blue">
                        <p>Maxinfoweb - SAS MIW</p>
                        <p>{{info.agence_adresse_1}}</p>
                        <p>{{info.agence_adresse_2}}</p>
                    </div>
                    <p class="-cl-orange">{{info.agence_tel}}</p>
                </div>
                <div class="vnv">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2605.7513103112774!2d2.2824798156873642!3d49.22424327932504!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47e651ca7077241f%3A0x891a241705fee15b!2s15%20Place%20du%20Mal%20Leclerc%2C%2060530%20Neuilly-en-Thelle!5e0!3m2!1sfr!2sfr!4v1610026795890!5m2!1sfr!2sfr" width="100%" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
                </div>
            </div>
        </section>
        <footer class="footer">
            <div class="-flex-se">
                <div>
                    <div class="-flex-sa">
                        {% for r in reseaux %}
                        <a href="{{r.lien}}"><img class="social-img" src="{{ vich_uploader_asset(r, 'imageFile') | imagine_filter('social') }}" alt="{{ r.imageName }}"></a>
                        {% endfor %}
                    </div>
                    <p>Pour nous suivre sur les réseaux</p>
                </div>

                <div>
                    <p>SAS MIW</p>
                    <p>Agence web et informatique</p>
                    <p>Tous droits réservés</p>
                    <p>Mentions légales</p>
                    <p>Confidentialité</p>
                </div>

                <div>
                    <p>Agence:</p>
                    <p>{{info.agence_adresse_1}}</p>
                    <p>{{info.agence_adresse_2}}</p>
                    <p>{{info.agence_tel}}</p>
                </div>

                <div>
                    <p>Siège social:</p>
                    <p>{{info.siege_adresse_1}}</p>
                    <p>{{info.siege_adresse_2}}</p>
                    <p>{{info.siege_tel}}</p>
                </div>
            </div>

            <p class="-tac">Secteurs d'interventions à Neuilly en Thelle et ses environs, dans l'Oise, le Val d'Oise, l'île de France, et Paris.</p>
        </footer>

        <script src="{{ asset('js/base.js') }}"></script>

    </body>

</html>
