{% extends 'base.html.twig' %}

{% block stylesheets %}
<link rel="stylesheet" href="{{asset('css/competence.css')}}">
{% endblock %}

{% block body %}
<section>
    <h1 class="-cl-orange">Nos compétences informatiques</h1>
    <div class="competences -flex-sb">
        {% for c in competences %}
        <a class="competence" href="{{path('competence-detail', {slug: c.titreslug})}}">
            <img src="{{ vich_uploader_asset(c, 'imageFile') | imagine_filter('competence_tn') }}" alt="{{ c.imageName }}">
            <div class="competence-text -fs-24 -tac">
                <p>{{c.titre}}</p>
            </div>
        </a>
        {% endfor %}
    </div>
</section>
{% endblock %}