{% extends 'base.html.twig' %}

{% block stylesheets %}
<link rel="stylesheet" href="{{asset('css/home.css')}}">
<link rel="stylesheet" href="{{asset('css/component/news.css')}}">
{% endblock %}

{% block body %}
    <h2>Dernière actualité</h2>
    {% if news is not empty %}
        {% set n = news.0 %}
        <div class="component-news">
            <p>{{ n.date|date('d-m-Y') }} - {{ n.titre }}</p>
            <a href="news/{{ n.titreslug }}">Voir</a>
        </div>
    {% else %}
    <p>Aucune actualité.</p>
    {% endif %}
{% endblock %}